body {
  font-family: "Montserrat", sans-serif;
}
/*Nav */
.navbar-light {
  box-shadow: 0 0 4px 0 #0e0d0d;
  position: sticky;
}
.nav-item {
  margin: 0 2rem 0 2rem;
  color: #948b8b;
}
.nav-item a:hover {
  color: #d9042b;
  transition: all 0.5s;
}
/*Main */
.hero {
  background-image: url(../img/PizzayCerveza.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.Buzz_image {
  overflow: hidden;
}
.hero__content {
  color: white;
  flex-direction: row;
}
.hero__text {
  font-size: bold;
}
.hero__content img {
  height: auto;
}
.banner {
  background-color: red;
}
.banner__image {
  height: 15rem;
  width: 15rem;
}
.green {
  color: green;
}
/*Footer*/
.footer {
  font-size: 15px;
  background-color: 948b8b;
  color: black;
  font-weight: bold;
  width: 100%;
}

@media (max-width: 768px) {
  .banner {
    display: none;
  }
}
